.rodape{
   padding-top: 1.5rem; 
   padding-bottom: 2.5rem;
   background-color: var(--cor-branca); 

   background-image: url(../../img/splash-rodape.svg);
   background-repeat: no-repeat;
   background-position: top -11rem right;
}

.rodape__logo{
    max-width: 11.125rem;
    margin-bottom: 1.25rem;

}

.rodape__social{
    display: flex;
    margin-top: 1.625rem;
    margin-bottom: 2rem;
    align-items: center;

}

.rodape__social-midia{
    display: inline-block;
    width:1.625rem ;
    height: 1.625rem;
    margin-right:1.625rem;
}

.rodape__unidade{
    margin-bottom: 2rem;

}

.rodape__unidade-titulo{
    color: var(--cor-preto);
    font-size: var(--tamanho-destque);
    font-weight: var(--peso-destaque);

    display: block;
    margin-bottom: .5rem;

}